body {
    line-height: 1.5;
    color: white;
}

#riddle-container {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

#riddle-container .riddle {
    background-color: rgba(0, 0, 0, 0.9);
    float: right;
    height: 100%;
    padding: 1% 2%;
    width: 35%;
}

#riddle-container p {
    font-size: 1.2em;
    margin-bottom: 1.0rem;
}
#riddle-container .gardian_desc,
#riddle-container .gardian_question {
    font-size: 1.6em;
    color: #999;
}
#riddle-container .gardian_desc {
    margin-bottom: 0.2rem;
}
#riddle-container .answer {
    background-color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 2% 1%;
    margin: 1% 2% 1% 0;
    text-align: center;
    width: 96%;
}
#riddle-container .answer:hover {
    background-color: #222;
}
#riddle-container.disabled .answer:hover {
    background-color: #333;
}
#riddle-container .answer.selected {
    background-color: #aa0000;
}
#riddle-container.disabled .answer.selected:hover {
    background-color: #aa0000;
}
